html {
  background-image:linear-gradient(#69f, #fff);
  height:100%;
  overflow:hidden;
}

.grass > div {
  animation:breeze 8s cubic-bezier(.8,-0.5,.25,1.5) infinite;
  background-color:#0b0;
  border-right:solid 5px #0c0;
  border-top-right-radius:100%;
  bottom:0;
  position:absolute;
  transform-origin:bottom;
  transition:all 100ms ease-in-out;
  width:3px;
}

@keyframes breeze {
  0%, 100% {
    transform:auto;
  }
  50% {
    transform:rotate(5deg);
  }
}

.sun {
  background-color:#fff;
  border-radius:50%;
  box-shadow:0 0 10vh 10vh #fff;
  height:10vh;
  position:fixed;
  right:2vh;
  top:2vh;
  width:10vh;
}